No photos yet
<a href='/photos/new'>Add photo</a>




<% @photos.each do |photo| %>
  <div class="main-page-blocks">
    <%= image_tag photo.image.url(:thumb) %>
    <%= photo.caption %>
  </div>
<% end %>
