<h1>Instagram</h1>

<% if @photos.any? %>
  <div>
    <% @photos.each do |photo| %>
      <%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo), id: photo.id %>
      <h2> <%= photo.caption %> </h2>
      <%= link_to "Edit Photo", edit_photo_path(photo) %>
      <br>
      <%= link_to "Delete Photo", photo_path(photo), method: :delete %>
      <br>
    <% end %>
  </div>
<% else %>
  <h2>No Photos yet</h2>
<% end %>
<br>
<a href='/photos/new'><h3>Add Photo</h3></a>
