<h1>Instagram</h1>

<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <%= image_tag photo.image.url(:thumb)%>
    <h2> <%= photo.caption %> </h2>
  <% end %>
<% else %>
  <h2>No Photos yet</h2>
<% end %>
<br>
<a href='/photos/new'><h3>Add Photo</h3></a>
